.logo-neta{
  height: 150px !important;
  max-height: 150px !important;
}

.container-log{
  max-height: 500px;
    overflow: hidden auto;
}

.fill-neta{
  fill: #f7fafc;
}

.bg-default-neta{
  background: #f7fafc !important;
}

@media (max-width: 767px) {
  .logo-neta{
    height: 50px !important;
    max-height: 50px !important;
  }
}